@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.css-fix {
    white-space: pre-wrap;
}
h1 {
    font-weight: 100;
}

p {
    font-weight: 100;
    line-height: 2;
}

#hero {
    height: 15rem;
    background-image: url('https://media.istockphoto.com/id/520265049/photo/sunset-at-mountain-blur-style.jpg?s=612x612&w=0&k=20&c=L4tmmjrDbumqRFpRDj_Gmd5vju3n7p1sabEmN2A3ImI=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 4rem 0;
    > button {
        border: none;
        background-color: #81afac;
        border-radius: 5px;
        padding: 1rem 2rem;
        color: white;
        font-weight: 100;
        cursor: pointer;
        &:hover {
            background-color: #51d6cd;
        }
    }
}

#portfolio {
    padding: 4rem 15%;
    text-align: center;
    color: rgb(133, 133, 133);
    width: 100%;
    box-sizing: border-box;
    background-color: #f3f8f8;
    > p {
        margin-bottom: 2rem;
    }
    > div {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        gap: 2rem;
        > figure {
            margin: 0;
            /* flex-basis: calc((100% / 3) - (2rem - 2rem / 3)); */
            flex: 1;
            flex-basis: 31%;
            border: 2px solid rgb(233, 233, 233);
            line-height: 0;
            > img {
                width: 100%;
                height: auto;
            }
            > figcaption {
                background-color: #fff;
                padding: 0.8rem 0;
                line-height: 1.5;
            }
        }
    }
}